<head>
<link type="text/css" rel="stylesheet" href="static/style.css"/>
    <title>{% block title %}Strona główna{% endblock %}</title>
    <meta charset="utf-8" />
</head>

<body>

	<div id="container">



		<div id="menu">
			<div class="option"><a class="linkmenu" href='home'>Strona główna</a></div>
			<div class="option"><a class="linkmenu" href='about'>O nas</a></div>
			<div class="option"><a class="linkmenu" href='expenses'>Porady</a></div>
			<div class="option"><a class="linkmenu" href='planowanie'>Planowanie wydatków</a></div>
			<div class="option"><a class="linkmenu" href='statement'>Zestawienie</a></div>
			<div class="option"><a class="linkmenu" href='contact'>Kontakt</a></div>
			<div style="clear:both;"></div>
		</div>

		</div>
		<div id="content">
            {% block content %}
			<h1>Dlaczego my?</h1>

			<div class="dottedline"></div>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis odio eu bibendum. Praesent non hendrerit risus. Nulla id semper sem. Mauris risus mauris, ultrices sed ullamcorper sed, vulputate vel nisi. Aliquam augue ante, mattis in pulvinar vitae, ultrices nec leo. Nulla ultricies augue enim, sit amet semper tellus vulputate sit amet. Maecenas tincidunt, ex eu viverra scelerisque, quam lectus auctor nunc, at pretium nibh lacus in ligula. Cras condimentum felis ac aliquet tristique. Sed elementum eu nulla vel rutrum. Cras feugiat nulla non congue malesuada.

			<br />
			<br />
			Cras et nulla vehicula, efficitur enim non, fermentum tortor. Curabitur id elementum leo. Sed eget turpis accumsan dolor mollis imperdiet. Praesent pellentesque laoreet lectus, at commodo magna varius vitae. Aliquam erat volutpat. Curabitur commodo, tortor laoreet sagittis cursus, nulla enim laoreet libero, et egestas risus ante vel orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis posuere massa, sed sollicitudin lorem. Mauris lacinia, massa efficitur malesuada luctus, arcu ex mattis erat, a venenatis magna risus nec neque. Nulla vulputate nisl urna, quis egestas orci suscipit tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras auctor nec elit at ultricies. Morbi aliquam pharetra diam, vitae porta felis. Pellentesque vel arcu tincidunt, luctus justo quis, ultrices erat. Vivamus efficitur leo vitae dui molestie, eu varius sapien iaculis. In quis pharetra mauris.

			<br /><br />
			Nam ullamcorper turpis non tristique sollicitudin. Etiam id magna lacus. Pellentesque vestibulum ex eget quam consectetur, sit amet luctus erat feugiat. Sed gravida tellus tempus consequat rhoncus. Phasellus lobortis magna et risus pharetra, facilisis blandit sapien tristique. Vivamus aliquam interdum arcu, eget facilisis ante gravida ut. Proin nec nisl ut lacus finibus sagittis id non nibh. Donec volutpat pretium libero. Sed fermentum vel ante vitae mattis. Curabitur porttitor turpis at scelerisque auctor. Sed vitae iaculis risus, ut iaculis nibh.
		</div>
        {% endblock %}
	</div>
<div id="footer">
			Strona wykonan przez: Mateusz Łoszczyk, Jan Rosiński
		</div>

</body>