<head>
<link type="text/css" rel="stylesheet" href="../static/style.css"/>
    <title>Porady z budżetem</title>
    <meta charset="utf-8" />
</head>

{% extends 'base.html' %}

{% block content %}
    <h1>Jak rozporządzać budżetem domowym?</h1>
			<div class="dottedline"></div>

			Tak naprawdę wystarczy zwykła kartka papieru lub zeszyt, a konkretnie 3 strony:
			<ul>
				<li>pierwsza do spisania przychodów, wydatków stałych jednorazowych,</li>
				<li>druga do kosztów nieregularnych,</li>
				<li>trzecia do podsumowania i stworzenia planu oszczędzania.</li>
				</ul>
			<br /><br />


			Cras et nulla vehicula, efficitur enim non, fermentum tortor. Curabitur id elementum leo. Sed eget turpis accumsan dolor mollis imperdiet. Praesent pellentesque laoreet lectus, at commodo magna varius vitae. Aliquam erat volutpat. Curabitur commodo, tortor laoreet sagittis cursus, nulla enim laoreet libero, et egestas risus ante vel orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis posuere massa, sed sollicitudin lorem. Mauris lacinia, massa efficitur malesuada luctus, arcu ex mattis erat, a venenatis magna risus nec neque. Nulla vulputate nisl urna, quis egestas orci suscipit tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras auctor nec elit at ultricies. Morbi aliquam pharetra diam, vitae porta felis. Pellentesque vel arcu tincidunt, luctus justo quis, ultrices erat. Vivamus efficitur leo vitae dui molestie, eu varius sapien iaculis. In quis pharetra mauris.

			<br /><br />
			Nam ullamcorper turpis non tristique sollicitudin. Etiam id magna lacus. Pellentesque vestibulum ex eget quam consectetur, sit amet luctus erat feugiat. Sed gravida tellus tempus consequat rhoncus. Phasellus lobortis magna et risus pharetra, facilisis blandit sapien tristique. Vivamus aliquam interdum arcu, eget facilisis ante gravida ut. Proin nec nisl ut lacus finibus sagittis id non nibh. Donec volutpat pretium libero. Sed fermentum vel ante vitae mattis. Curabitur porttitor turpis at scelerisque auctor. Sed vitae iaculis risus, ut iaculis nibh.

{% endblock %}