<head>
<link type="text/css" rel="stylesheet" href="../static/style.css"/>
    <title>Planowanie wydatków</title>
    <meta charset="utf-8" />
</head>

{% extends 'base.html' %}

{% block content %}
			<h1>Zaplanuj swój budżet domowy</h1>

			<div class="dottedline">
            <div class="lewy">

			<button class="przycisk"><a class="linkButton" href='wydatki'>Zaplanuj wydatki</a></button>
                </div>
    <div class="prawy">
			<button class="przycisk"><a class="linkButton" href='przychody'>Twoje przychody</a></button>
    </div>
            </div>

{% endblock %}